In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("Data-export.csv")

In [5]:
df.head(10)

,# ----------------------------------------,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Session primary channel group (Default channel...,Date + hour (YYYYMMDDHH),Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
1,Direct,2024041623,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
2,Organic Social,2024041719,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
3,Direct,2024041723,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
4,Organic Social,2024041718,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
5,Organic Social,2024041720,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001
6,Organic Social,2024041721,160,206,103,59.31553398058250,0.64375,4.694174757281550,0.5,967
7,Organic Social,2024050119,160,219,110,40.31506849315070,0.6875,4.63013698630137,0.502283105022831,1014
8,Direct,2024041622,158,192,94,39.020833333333300,0.5949367088607590,4.057291666666670,0.4895833333333330,779
9,Organic Social,2024041321,152,178,96,30.48876404494380,0.631578947368421,5.056179775280900,0.5393258426966290,900

In [7]:
df.columns = df.iloc[0]

In [8]:
df.head()

,Session primary channel group (Default channel group),Date + hour (YYYYMMDDHH),Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
0,Session primary channel group (Default channel...,Date + hour (YYYYMMDDHH),Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
1,Direct,2024041623,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
2,Organic Social,2024041719,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
3,Direct,2024041723,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
4,Organic Social,2024041718,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044

In [9]:
df = df.drop(index = 0).reset_index(drop = True)

In [10]:
df.head()

,Session primary channel group (Default channel group),Date + hour (YYYYMMDDHH),Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
0,Direct,2024041623,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
1,Organic Social,2024041719,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
2,Direct,2024041723,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
3,Organic Social,2024041718,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
4,Organic Social,2024041720,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001

In [11]:
df.isnull()

,Session primary channel group (Default channel group),Date + hour (YYYYMMDDHH),Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
3177,False,False,False,False,False,False,False,False,False,False
3178,False,False,False,False,False,False,False,False,False,False
3179,False,False,False,False,False,False,False,False,False,False
3180,False,False,False,False,False,False,False,False,False,False
3181,False,False,False,False,False,False,False,False,False,False

In [45]:
df.isnull().sum()

channel_group                             0
datehour                               3182
users                                     0
sessions                                  0
engaged_sessions                          0
average_engagement_time_per_session       0
engaged_sessions_per_user                 0
events_per_session                        0
engagement_rate                           0
event_count                               0
dtype: int64

In [46]:
df.head()

,channel_group,datehour,users,sessions,engaged_sessions,average_engagement_time_per_session,engaged_sessions_per_user,events_per_session,engagement_rate,event_count
0,Direct,NaN,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
1,Organic Social,NaN,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
2,Direct,NaN,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
3,Organic Social,NaN,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
4,Organic Social,NaN,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001

In [48]:
df_no_duplicates = df.drop_duplicates()
print("\nDataFrame after removing duplicates:")
display(df_no_duplicates)

DataFrame after removing duplicates:

,channel_group,datehour,users,sessions,engaged_sessions,average_engagement_time_per_session,engaged_sessions_per_user,events_per_session,engagement_rate,event_count
0,Direct,NaN,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
1,Organic Social,NaN,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
2,Direct,NaN,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
3,Organic Social,NaN,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
4,Organic Social,NaN,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001
...,...,...,...,...,...,...,...,...,...,...
3160,Unassigned,NaN,1,1,0,70,0,15,0,15
3161,Unassigned,NaN,1,1,0,249,0,10,0,10
3162,Email,NaN,0,1,0,0,0,2,0,2
3163,Organic Video,NaN,0,1,0,0,0,2,0,2
3171,Unassigned,NaN,0,1,0,0,0,2,0,2

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   channel_group                        3182 non-null   object
 1   datehour                             0 non-null      object
 2   users                                3182 non-null   object
 3   sessions                             3182 non-null   object
 4   engaged_sessions                     3182 non-null   object
 5   average_engagement_time_per_session  3182 non-null   object
 6   engaged_sessions_per_user            3182 non-null   object
 7   events_per_session                   3182 non-null   object
 8   engagement_rate                      3182 non-null   object
 9   event_count                          3182 non-null   object
dtypes: object(10)
memory usage: 248.7+ KB

# Convert date formats to a consistent type

In [52]:
df["datehour"] = pd.to_datetime(df["datehour"], format = "%Y%m%d%H", errors ='coerce')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   channel_group                        3182 non-null   object
 1   datehour                             0 non-null      datetime64[ns]
 2   users                                3182 non-null   object
 3   sessions                             3182 non-null   object
 4   engaged_sessions                     3182 non-null   object
 5   average_engagement_time_per_session  3182 non-null   object
 6   engaged_sessions_per_user            3182 non-null   object
 7   events_per_session                   3182 non-null   object
 8   engagement_rate                      3182 non-null   object
 9   event_count                          3182 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 248.7+ KB

In [54]:
df.head()

,channel_group,datehour,users,sessions,engaged_sessions,average_engagement_time_per_session,engaged_sessions_per_user,events_per_session,engagement_rate,event_count
0,Direct,NaT,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
1,Organic Social,NaT,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
2,Direct,NaT,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
3,Organic Social,NaT,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
4,Organic Social,NaT,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001

# Rename column headers

In [55]:
df.columns = ["channel group", "datehour", "Users", "Sessions", "Engaged sessions", "Average engagement time per session", "Engaged sessions per user", "Events per session", "Engagement rate", "Event count"]

In [56]:
df.head()

,channel group,datehour,Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
0,Direct,NaT,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
1,Organic Social,NaT,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
2,Direct,NaT,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
3,Organic Social,NaT,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
4,Organic Social,NaT,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001

In [57]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [58]:
df.head()

,channel_group,datehour,users,sessions,engaged_sessions,average_engagement_time_per_session,engaged_sessions_per_user,events_per_session,engagement_rate,event_count
0,Direct,NaT,237,300,144,47.526666666666700,0.6075949367088610,4.673333333333330,0.48,1402
1,Organic Social,NaT,208,267,132,32.09737827715360,0.6346153846153850,4.295880149812730,0.4943820224719100,1147
2,Direct,NaT,188,233,115,39.93991416309010,0.6117021276595740,4.587982832618030,0.49356223175965700,1069
3,Organic Social,NaT,187,256,125,32.16015625,0.6684491978609630,4.078125,0.48828125,1044
4,Organic Social,NaT,175,221,112,46.918552036199100,0.64,4.529411764705880,0.5067873303167420,1001

# Check and fix data types

In [59]:
df.describe()

      datehour
count        0
mean       NaT
min        NaT
25%        NaT
50%        NaT
75%        NaT
max        NaT

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   channel_group                        3182 non-null   object
 1   datehour                             0 non-null      datetime64[ns]
 2   users                                3182 non-null   object
 3   sessions                             3182 non-null   object
 4   engaged_sessions                     3182 non-null   object
 5   average_engagement_time_per_session  3182 non-null   object
 6   engaged_sessions_per_user            3182 non-null   object
 7   events_per_session                   3182 non-null   object
 8   engagement_rate                      3182 non-null   object
 9   event_count                          3182 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 248.7+ KB

In [61]:
df.dtypes

channel_group                                  object
datehour                               datetime64[ns]
users                                          object
sessions                                       object
engaged_sessions                               object
average_engagement_time_per_session            object
engaged_sessions_per_user                      object
events_per_session                             object
engagement_rate                                object
event_count                                    object
dtype: object